.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}
