.row {
  margin: 8px - 20px;
  position: relative;
}

.column {
  float: left;
  width: 25%;
  position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  position: relative;
  display: none;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.photo {
width: 400px;
height: 200px;
}

.container {
  padding: 0 16px;
}

p {
  text-align: justify;
}

button {
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background: rgb(0,2,10);
  background: radial-gradient(circle, rgba(0,2,10,1) 0%, rgba(129,176,218,1) 100%);
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

button {
  align-self: center;
}

img {
  position: relative;
}

