* {
  background-color:#3b4c5a;
  color:
  #d3c7b4;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

p {
  color: #e1d9d0;
  font-family: sans-serif;
  font-size: 1.2em;
  font-style: italic;
  padding: 1em;
}


.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: left;
  background-color: transparent;
}

.room {
  height: 100vh;
  width: 100%;
  background-image: url(cozy-black-white.png);
  background-size: cover;
  background-position: center;
  position: relative; /* Change to relative instead of absolute */
  opacity: 75%;
}

.room h1 {
  position: absolute;
  z-index: 2; /* Increase z-index to place it above the videos */
  top: 20%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%);
  font-size: 2.25em;
  background-color: #3b4c5a;
  border-radius: 10px;
  color:  #d18466;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 10px;
}

.room p {
  position: absolute;
  z-index: 2; /* Increase z-index to place it above the videos */
  top: 30%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%);
  background-color: #3b4c5a;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

video.overlay-1,
video.overlay-2 {
  position: absolute;
  top: 60%; /* Adjust the top position to center vertically */
  transform: translate(-50%, -50%); /* Center horizontally */
  z-index: 1;
  background-color: transparent;
}


video.overlay-1 {
  left: 30%; /* Adjust the left position for the first image */
}

video.overlay-2 {
  left: 70%; /* Adjust the left position for the second image */
}

#click1,
#click2 {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25em;
}

#click1 {
  left: 30%;
}

#click2 {
  left: 70%;
}


button {
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;

  background: rgb(0,2,10);
  background: radial-gradient(circle, rgba(0,2,10,1) 0%, rgba(129,176,218,1) 100%);
  /* background-color: #3b4c5a;
  color: #d3c7b4; */
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.5;
}

button:hover {
  background-color: #712404;
}
