* {
  background-color:#3b4c5a;
  color:
  #d3c7b4;
}

h1 {
  color: #d3c7b4;
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  padding: 0.25em;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;

}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: left;
  background-color: transparent;
}



.room p {
  position: absolute;
  z-index: 2; /* Increase z-index to place it above the videos */
  top: 20%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%);
  font-size: 2.25em;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  filter: brightness(1.9);
}

video.overlay-1,
video.overlay-2 {
  position: absolute;
  top: 60%; /* Adjust the top position to center vertically */
  transform: translate(-50%, -50%); /* Center horizontally */
  z-index: 1;
  background-color: transparent;
}

video.overlay-1 {
  left: 30%; /* Adjust the left position for the first image */
}

video.overlay-2 {
  left: 70%; /* Adjust the left position for the second image */
}

#click1,
#click2 {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25em;
}

#click1 {
  left: 30%;
}

#click2 {
  left: 70%;
}


button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #3b4c5a;
  color: white;
}
