* {
  background-color: #3b4c5a;
  color: #d3c7b4;
}

h2 {
  font-family: 'Righteous', sans-serif;
  font-size: 1.5em;
  padding: 0.25em;
}

p {
  font-family: 'Righteous', sans-serif;
  font-size: 0.9em;
  padding: 0.25em;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  width: 10%;
  padding: 10px;
}


.column img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  height: 100px; /* Set the desired fixed height */
  object-fit: cover;
  border-radius: 10px;
}

.column img:hover {
  opacity: 10;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

#expandedImg {
  width: 70%;
  border-radius: 10px;
}

#consolePlaylist li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid white;
}

button {
  border-radius: 10px;
  padding: 0.50em;
}


#consolePlaylist button {
  background-color: #c8c33e;
  color: white;
  margin-left: 10px;
}

#consolePlaylist button:hover {
  background-color: #e0db4f;
}
