* {
  background-color: #2779a7;
  color: white;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  padding: 0.25em;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: left;
  background-color: transparent;
}

.left-col,
.right-col {
  background-color: transparent;
  padding: 20px;
}

.left-col {
  float: left;
  width: 50%;
  margin-left: 200px;
}

.left-col h2 {
  background-color: transparent;
  font-size: 3em;
  font-weight: bold;
  color: #477fb8;
  line-height: 2;
  line-height: 2;
  opacity: 0;
  animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.right-col a {
  background-color: transparent;
}

.right-col img {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

.room {
  height: 100vh;
  width: 100%;
  background-image: url(cozy-room.png);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative; /* Change to relative instead of absolute */
  opacity: 75%;
}

.room p {
  position: absolute;
  z-index: 2; /* Increase z-index to place it above the videos */
  top: 20%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%);
  font-size: 2.25em;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  filter: brightness(1.9);
}

video.overlay-1,
video.overlay-2 {
  position: absolute;
  top: 60%; /* Adjust the top position to center vertically */
  transform: translate(-50%, -50%); /* Center horizontally */
  z-index: 1;
  background-color: transparent;
}

video.overlay-1 {
  left: 30%; /* Adjust the left position for the first image */
}

video.overlay-2 {
  left: 70%; /* Adjust the left position for the second image */
}

#click1,
#click2 {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25em;
}

#click1 {
  left: 30%;
}

#click2 {
  left: 70%;
}


button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #409451;
  color: white;
}
