* {
  background-color: #2779a7;
  color: white;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  padding: 0.25em;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: left;
}

.left-col {
  float: left;
  width: 50%;
  margin-left: 100px;
}

.left-col h2 {
  font-size: 3em;
  color: #fff;
  line-height: 2;
}

.right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-col p {
  font-size: 1.5em;
}

.room {
  height: 100vh;
  width: 100%;
  background-image: url(cozy-room.png);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 70%;
}
