* {
  background-color:#3b4c5a;
  color:
  #d3c7b4;
  font-family: sans-serif;
  font-size: .8em;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;

}

img {
  max-width: 100%;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

.navbar {
  width: 88%;
  margin: auto;
  padding: 15px 0; /* Fix: Comma changed to space for proper padding */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Align items to the right */
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  font-family: sans-serif;
  font-size: .8em;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.25em;
}

.content {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: left;
  background-color: transparent;
}

.left-col,
.right-col {
  background-color: transparent;
  padding: 20px;
}

.left-col {
  border-radius: 10px;
  float: left;
  width: 50%;
  margin-left: 200px;
}

.left-col h2 {
  background-color: #3b4c5a;
  border-radius: 10px;
  color: #d3c7b4;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#relax, #take, #enjoy {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  margin: 8px;
  opacity: 0;
  padding-left: 20px;
  max-width: 300px;
}

#relax {
  animation-delay: 0s;
}
#take {
  animation-delay: 2s;
}
#enjoy {
  animation-delay: 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .4;
  }
  60% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
/*
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .4;
  }
  60% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
} */

.right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.right-col a {
  background-color: transparent;
}

.right-col img {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

.room {
  height: 100vh;
  width: 100%;
  background-image: url(cozy-room.png);
  background-size: cover;
  background-position: center;
  position: relative; /* Change to relative instead of absolute */
  opacity: 75%;
}

.room p {
  position: absolute;
  z-index: 2; /* Increase z-index to place it above the videos */
  top: 20%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%);
  font-size: 2.25em;
  background-color: transparent;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  filter: brightness(1.9);
}

video.overlay-1,
video.overlay-2 {
  position: absolute;
  top: 60%; /* Adjust the top position to center vertically */
  transform: translate(-50%, -50%); /* Center horizontally */
  z-index: 1;
  background-color: transparent;
}

video.overlay-1 {
  left: 30%; /* Adjust the left position for the first image */
}

video.overlay-2 {
  left: 70%; /* Adjust the left position for the second image */
}

#click1,
#click2 {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25em;
}

#click1 {
  left: 30%;
}

#click2 {
  left: 70%;
}
